<!DOCTYPE html>
<html lang="en">
<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.css">
    <link rel="stylesheet" type="text/css" href="/YelpcampStyle.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
    <div class="collapse navbar-collapse">

    <ul class="nav navbar-nav ml-auto">
        <% if(!currentUser){ %>
            <li class = "nav-item">
                <a class = "nav-link" href = "/login">Login</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href = "/register">Sign up</a>
            </li>
        <% } else { %>
            <li class = "nav-item">
                <a class = "nav-link" href="#"><%= currentUser.username %>'s Profile</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href="/logout">Logout</a>
            </li>
        <% } %>
    </ul>
    </div>
</nav>



    <div class="container">
        <% if (success && success.length > 0){ %>   <!-- having error alone is not enough so we have to check that error is not empty becasue error by itself will be there -->
            <div class="ui success message">
                <div class="header"><%= success %></div>
            </div>
        <% } %>
    </div>




<div class="container">
        <% if (error && error.length > 0){ %>   <!-- having success alone is not enough so we have to check that success is not empty becasue success by itself will be there -->
            <div class="ui negative message">
        <div class="header"><%= error %></div>
    </div>
     <% } %>
</div>



