<% include ../partials/header %> <!-- ../ means one lvl down -->

        <div class="container">
        <header class="jumbotron">
            <div>
                <h1>Welcome to Arturo's startUp</h1>
                <p>View Arturo's hand-picked campgrounds</p>
                <p><a class="ui primary button" href="/campgrounds/new">New Campground</a></p>
            </div>
        </header>

        <div class="row">
            <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6">
                <div class="imgSpacing">
                <!-- Images -->
                    <img src="<%= campground.image %>">
                </div>
             <!--   <%=  campground.name %> -->
             <center><a href="/campgrounds/<%= campground._id %>" class="ui grey basic button">More info</a></center>
            </div>
            <% }) %>
        </div>
        <p><br><br><a href="/campgrounds" class="ui primary basic button">Go back</a></p><p></p>
    </div>





<% include ../partials/footer %>